/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar Desktop */
nav {
  display: flex;
  justify-content: space-between;
  background-color: hsl(51, 100%, 62%);
  padding: 10px 100px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

nav h2 {
  font-size: 20px;
  color: black;
}

.nav-menu {
  display: flex;
  gap: 20px;
  list-style: none;

  text-align: center;
}

.nav-menu li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 20px;
  padding: 10px 15px;
  transition: 0.3s;
}

.nav-menu li a:hover {
  background-color: black;
  color: red;
  border-radius: 8px;
}

/* hide checkbox */
#menu-toggle {
  display: none;
}

/* hamburger hidden desktop */
.hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

/* desktop menu */
.nav-menu {
  display: flex;
  gap: 20px;
  list-style: none;
}

/* ================= MOBILE ================= */
@media only screen and (max-width: 940px) {

  .hamburger {
    display: block;
    z-index: 2000;
  }

  .nav-menu {
    position: fixed;
    top: 52px;
  left: -100%;   /* hidden by default */
    width: 55%;
    height: 50%;
    background: hsl(51, 100%, 62%);
    flex-direction: column;
    padding: 100px 40px;
    gap: 25px;
    transition:all 0.5s ease;
  }


  /* show menu when clicked */
  #menu-toggle:checked ~ .nav-menu {
    left: 0;
  }

#menu-toggle:checked ~ .hamburger i::before{
    content: "\f00d";
}

}


/* nav code finesh  */


body{
    background-color:rgba(251, 255, 0, 0.445);
}

form{
  width: 800px;
  background-color:rgba(0, 132, 255, 0.377);  
  margin: 80px auto;
  padding: 40px 0;
  box-shadow:10px 10px 10px 10px rgb(31, 30, 30);
}
form h2{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.name-email-parent input{
    display: block;
    margin:20px auto;
    width: 400px;
    height: 30px;
    border: none;
    padding: 5px 20px;
    font-size: 17px;
    border-radius: 30px;

}
form textarea{
  display: block;
  margin:30px auto;
  width: 400px;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  font-size: 17px;
}
.form-submit-button{
    display: block;
    margin: auto;
    font-size: 20px;
    padding: 10px 20px;
    width: 400px;
    height: 50px;
    border: none;
    border-radius:30px;
    cursor: pointer;
    text-transform: uppercase;
    color: rgb(2, 2, 2);
    background: linear-gradient(to right, blue, blueviolet, aqua, red,gray);
}




/* ================= Tablet / Medium ================= */
@media only screen and (min-width:689px) and (max-width:1099px){
    form{
        width: 90%;
        padding: 30px 0;
    }
    .name-email-parent input,
    form textarea,
    .form-submit-button{
        width: 80%;
        font-size: 16px;
    }
}

/* ================= Mobile / Small ================= */
@media only screen and (max-width:688px){
    form{
        width: 80%;
        padding: 20px 0;
        margin: 50px auto;
        margin-top: 100px;
    }
    .name-email-parent input,
    form textarea,
    .form-submit-button{
        width: 100%;
        font-size: 15px;
        margin: 15px auto;
    }
    form h2{
        font-size: 20px;
        margin-bottom: 15px;
    }
}