*{
    margin: 0;
    padding: 0;
}

/* nav code start  */

nav{
    display: flex;
    justify-content: space-between;
    background-color: hsl(51, 100%, 62%);
    padding: 0px 100px;
    position: sticky;
    top: 0;
    z-index: 1000;
     
 }
nav ul{
display: flex;

}
nav ul li{
    list-style-type: none;
    margin: 10px 5px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 19px;
    padding: 11px 20px;
    transition: 0.5s;
}
nav ul li a:hover{
    background-color: black;
    color: red;
    border-radius: 8px;
}
nav div{
    color: rgb(7, 6, 6);
    font-size: 20px;
    transition: 0.5s;
}
nav div:hover{
 background-color: rgb(22, 10, 10);
    color: red;
    border-radius: 10px;}


/* nav code finesh  */


body{
    background-color:rgba(251, 255, 0, 0.445);
}

form{
  width: 800px;
  background-color:rgba(0, 132, 255, 0.377);  
  margin: 80px auto;
  padding: 40px 0;
  box-shadow:10px 10px 10px 10px rgb(31, 30, 30);
}
form h2{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.name-email-parent input{
    display: block;
    margin:20px auto;
    width: 400px;
    height: 30px;
    border: none;
    padding: 5px 20px;
    font-size: 17px;
    border-radius: 30px;

}
form textarea{
  display: block;
  margin:30px auto;
  width: 400px;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  font-size: 17px;
}
.form-submit-button{
    display: block;
    margin: auto;
    font-size: 20px;
    padding: 10px 20px;
    width: 400px;
    height: 50px;
    border: none;
    border-radius:30px;
    cursor: pointer;
    text-transform: uppercase;
    color: rgb(2, 2, 2);
    background: linear-gradient(to right, blue, blueviolet, aqua, red,gray);
}