
*{
    margin: 0;
    padding: 0;
}
/* nav code start  */


nav{
    display: flex;
    justify-content: space-between;
    background-color: hsl(51, 100%, 62%);
    padding: 0px 100px;
    position: sticky;
    top: 0;
    z-index: 1000;
     
 }
nav ul{
display: flex;

}
nav ul li{
    list-style-type: none;
    margin: 10px 5px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 19px;
    padding: 11px 20px;
    transition: 0.5s;
}
nav ul li a:hover{
    background-color: black;
    color: red;
    border-radius: 8px;
}
nav div{
    color: rgb(7, 6, 6);
    font-size: 20px;
    transition: 0.5s;
}
nav div:hover{
 background-color: rgb(22, 10, 10);
    color: red;
    border-radius: 10px;
}

/* nav code finesh  */

.our-section h2{
display: grid;
justify-content: center;
font-size: 40px;
margin-bottom: 100px;
}

main{
    background-color: rgba(165, 163, 26, 0.644);
    padding: 20px;
    padding-bottom: 50px;
    
}
.main-section{
    width: 1100px;
    margin:0 auto ;
    padding: 50px 0;
}
.latest-parent{
    display: flex;
    justify-content: space-between;
}
.latest-text{
    font-size: 25px;
    color: black;
    font-weight: bold;
}
.latest-page{
   color: black; 
}
.latest-page span{
    color: black;
    background: rgb(196, 189, 189);
    border: 1px solid grey;
    padding: 5px;
    border-radius: 4px;
    margin: 0 20px;
    cursor: pointer;
}

.single-item-parent{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 60px;
    grid-column-gap:20px;
    margin-top: 20px;
}

.single-item{
    height: 250px;
    border: 4px solid rgba(164, 180, 14, 0.74);
}
.single-item img{
    width: 100%;
    height: 100%;
    transition: 0.5s;
    cursor: pointer;
}
.single-item:hover img{
    transform: scale(1.1);
    border-radius: 20px;
}


.single-item div{
    display: flex;
    justify-content: space-between;
    color: rgb(8, 77, 224);
    margin-top: 15px;
 
}
.title-div{
text-align: center;
color: red;
}
/* previous page start  */

.previous-next-parent{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.previous-next-parent h3 a{
   background-color: rgba(164, 180, 14, 0.74);
   padding: 10px 20px;
   border-radius: 5px;
   transition: 0.5s;
   border-radius: 5px;
}
.previous-next-parent h3 a:hover{
    background-color: rgba(201, 221, 25, 0.74);
}
.previous-next-parent a{
    text-decoration: none;
    color: black;
}
.previous-next-parent div a{
   margin: 0 10px;
   background-color:white;
   padding: 8px;
   border-radius: 5px;
   border: 2px solid rgba(27, 29, 14, 0.74);
}
.previous-next-parent div a:first-child{
    background-color:  rgba(201, 221, 25, 0.74);
    color: black;
}
