*{
    margin: 0;
    padding: 0;
}

/* nav code start  */


nav{
    display: flex;
    justify-content: space-between;
    background-color: hsl(51, 100%, 62%);
    padding: 0px 100px;
    position: sticky;
    top: 0;
    z-index: 1000;
     
 }
nav ul{
display: flex;

}
nav ul li{
    list-style-type: none;
    margin: 10px 5px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 19px;
    padding: 11px 20px;
    transition: 0.5s;
}
nav ul li a:hover{
    background-color: black;
    color: red;
    border-radius: 8px;
}
nav div{
    color: rgb(7, 6, 6);
    font-size: 20px;
    transition: 0.5s;
}
nav div:hover{
 background-color: rgb(22, 10, 10);
    color: red;
    border-radius: 10px;
}

/* nav code finesh  */



#section-container{
    width: 1100px;
    margin:0 auto;
}
.menu-parent{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
   margin-top: 50px;
   margin-bottom: 50px;
}
.single-img-div{
    height: 400px;
   
   
}
.single-img-div img{
    height: 100%;
    width: 100%;
}
.section-title{
    display: flex;
    justify-content: center;
    color: green;
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 30px;
  
}
.section-title span{
 color: red;
}
.single-menu{
    box-shadow: 5px 5px 5px 5px gray;
    border-radius: 3px;
}
.single-text-div{
    padding: 20px 30px;
}
.single-text-div span{
    color: red;
}
.single-text-div h3{
    font-size: 22px;
    margin: 20px 0;
}
.single-text-div a{
    text-decoration: none;
    display: inline-block;
    margin-top:15px;
}