*{
    margin: 0%;
    padding: 0%;
}


nav{
    display: flex;
    justify-content: space-between;
    background-color: hsl(51, 100%, 62%);
    padding: 0px 100px;
    position: sticky;
    top: 0;
    z-index: 1000;
     
 }
nav ul{
display: flex;

}
nav ul li{
    list-style-type: none;
    margin: 10px 5px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 19px;
    padding: 11px 20px;
    transition: 0.5s;
}
nav ul li a:hover{
    background-color: black;
    color: red;
    border-radius: 8px;
}
nav div{
    color: rgb(7, 6, 6);
    font-size: 20px;
    transition: 0.5s;
}
nav div:hover{
 background-color: rgb(22, 10, 10);
    color: red;
    border-radius: 10px;
}
/* hero area code start  */
header{
    background-image: url(img/bg.jpg) ;
    position: relative;
    padding: 250px 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-bottom: 2px solid rgba(202, 223, 18, 0.603);
    border-top: 2px solid rgba(164, 180, 14, 0.74);
}
.hub-parent{
    display: flex;
    justify-content: center;
    color: rgb(2, 2, 2);
    font-size: 30px;
    font-weight: bold;
    padding: 40px;

}
.search-box-icon {
    display: flex;
    justify-content: center;
    align-items:center;

}

.search-box-icon  i{
    background-color: rgba(0, 0, 0, 0.966);
    color: red;
    font-size: 25px;
    height: 39px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    cursor: pointer;
    margin-left:-10px;
}
.search-box-icon input{
    width: 300px;
    height: 35px;
    border-radius: 5px;
    font-size: 15px;
    padding: 5px 20px;
    border: 1px solid rgb(12, 11, 11);
    border: none;
}
/* main section start  */
main{
    background-color: rgba(165, 163, 26, 0.644);
    padding: 20px;
    padding-bottom: 50px;
    
}
.main-section{
    width: 1100px;
    margin:0 auto ;
    padding: 50px 0;
}
.latest-parent{
    display: flex;
    justify-content: space-between;
}
.latest-text{
    font-size: 25px;
    color: black;
    font-weight: bold;
}
.latest-page{
   color: black; 
}
.latest-page span{
    color: black;
    background: rgb(196, 189, 189);
    border: 1px solid grey;
    padding: 5px;
    border-radius: 4px;
    margin: 0 20px;
    cursor: pointer;
}

.single-item-parent{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 60px;
    grid-column-gap:20px;
    margin-top: 20px;
}

.single-item{
    height: 250px;
    border: 4px solid rgba(164, 180, 14, 0.74);
}
.single-item img{
    width: 100%;
    height: 100%;
    transition: 0.5s;
    cursor: pointer;
}
.single-item:hover img{
    transform: scale(1.1);
    border-radius: 20px;
}


.single-item div{
    display: flex;
    justify-content: space-between;
    color: rgb(0, 0, 0);
    margin-top: 10px;
}

/* previous page start  */

.previous-next-parent{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.previous-next-parent h3 a{
   background-color: rgba(164, 180, 14, 0.74);
   padding: 10px 20px;
   border-radius: 5px;
   transition: 0.5s;
   border-radius: 5px;
}
.previous-next-parent h3 a:hover{
    background-color: rgba(201, 221, 25, 0.74);
}
.previous-next-parent a{
    text-decoration: none;
    color: black;
}
.previous-next-parent div a{
   margin: 0 10px;
   background-color:white;
   padding: 8px;
   border-radius: 5px;
   border: 2px solid rgba(27, 29, 14, 0.74);
}
.previous-next-parent div a:first-child{
    background-color:  rgba(201, 221, 25, 0.74);
    color: black;
}

/* footer section start  */

footer{
    background-color: hsla(51, 94%, 32%, 0.712);
    color: black;
}
.footer-container{
    width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
    grid-gap: 50px;
}
.footer-firstitem{
    font-size: 20px;
    padding:30px 0;
    margin-top: 20px;
    
    
}
.footer-firstitem:first-child p{
    margin-bottom: 50px;
    font-size: 17px;
    margin-top: 30px;
}
.footer-secounditem h3{
  font-size: 20px;
  padding: 30px 0;
  margin-top: 20px;
}
.footer-secounditem a{
    text-decoration: none;
    color: black;
}
.footer-secounditem p{
    margin-bottom: 10px;
}
.footer-thirditem div{
    font-size: 20px;
    padding: 30px 0;
    margin-top: 20px;
}
.footer-thirditem div a{
    color:rgb(24, 22, 22);
    text-decoration: none;
    margin-right: 10px;
    background-color: white;
    padding: 2px;
    border-radius: 5px;
}
.footer-thirditem{
    margin-bottom: 20px;
}
.footer-thirditem p:nth-child(3){
    margin-bottom: 100px;
} 