*{
    margin: 0;
    padding: 0;
}


nav{
    display: flex;
    justify-content: space-between;
    background-color: hsla(236, 86%, 33%, 0.918);
    padding: 0px 100px ;

}
nav ul{
display: flex;

}
nav ul li{
    list-style-type: none;
    margin: 10px 5px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 20px;
    transition: 0.5s;
}
nav ul li a:hover{
    background-color: black;
    color: red;
    border-radius: 8px;
}
nav div{
    color: white;
    font-size: 20px;
}